<!DOCTYPE html>
<html lang="pt-br">
	<head>
		<title>
			Mendes - Travel Agency - Knowing the World!
		</title>
		<meta charset="utf-8">
		<meta name="description" content="Mendes - Travel Agency, Meet the World.">
		<meta name="keywords" content="Viagens, Férias, Lazer, Diversão, Turismo">
		<meta name="author" content="Nikolas Mendes">
		<link rel="shortcut icon" href="img/icon.png">
		<link rel="stylesheet" type="text/css" href="css/estilo.css">
	</head>
	<body>
		<div class="geral">
			<header class="topo">
				<!--- O conteúdo ficará apenas no css--->
			</header>
		
			<nav class="menu">
				<!--- Espaço de Menu - links-->
				<ul>
					<li> <a href="index.html">Empresa</a> </li>
					<li> <a href="#">Serviços</a> </li>
					<li> <a href="#">Galeria</a> </li>
					<li> <a href="#">Contato</a> </li>
				</ul>
			</nav>
		
			<section class="conteudo">
				<!--- Conteúdo do site aqui-->
				<h1>Twenty one Pilots </h1>
				<div class="colunas">
					<p>O <strong>Twenty one pilots</strong> é o melhor duo do mundo ||-//.</p>
					<p>É um facto estabelecido de que um leitor é distraído pelo conteúdo legível de uma página quando analisa a sua mancha gráfica. Logo, o uso de Lorem Ipsum leva a uma distribuição mais ou menos normal de letras, ao contrário do uso de "Conteúdo aqui, conteúdo aqui", tornando-o texto legível. Muitas ferramentas de publicação electrónica e editores de páginas web usam actualmente o Lorem Ipsum como o modelo de texto usado por omissão, e uma pesquisa por "lorem ipsum" irá encontrar muitos websites ainda na sua infância. Várias versões têm evoluído ao longo dos anos, por vezes por acidente, por vezes propositadamente (como no caso do humor).</p>
					<p>É um facto estabelecido de que um leitor é distraído pelo conteúdo legível de uma página quando analisa a sua mancha gráfica. Logo, o uso de Lorem Ipsum leva a uma distribuição mais ou menos normal de letras, ao contrário do uso de "Conteúdo aqui, conteúdo aqui", tornando-o texto legível. Muitas ferramentas de publicação electrónica e editores de páginas web usam actualmente o Lorem Ipsum como o modelo de texto usado por omissão, e uma pesquisa por "lorem ipsum" irá encontrar muitos websites ainda na sua infância. Várias versões têm evoluído ao longo dos anos, por vezes por acidente, por vezes propositadamente (como no caso do humor).</p>
					<p>É um facto estabelecido de que um leitor é distraído pelo conteúdo legível de uma página quando analisa a sua mancha gráfica. Logo, o uso de Lorem Ipsum leva a uma distribuição mais ou menos normal de letras, ao contrário do uso de "Conteúdo aqui, conteúdo aqui", tornando-o texto legível. Muitas ferramentas de publicação electrónica e editores de páginas web usam actualmente o Lorem Ipsum como o modelo de texto usado por omissão, e uma pesquisa por "lorem ipsum" irá encontrar muitos websites ainda na sua infância. Várias versões têm evoluído ao longo dos anos, por vezes por acidente, por vezes propositadamente (como no caso do humor).</p>
					<p>É um facto estabelecido de que um leitor é distraído pelo conteúdo legível de uma página quando analisa a sua mancha gráfica. Logo, o uso de Lorem Ipsum leva a uma distribuição mais ou menos normal de letras, ao contrário do uso de "Conteúdo aqui, conteúdo aqui", tornando-o texto legível. Muitas ferramentas de publicação electrónica e editores de páginas web usam actualmente o Lorem Ipsum como o modelo de texto usado por omissão, e uma pesquisa por "lorem ipsum" irá encontrar muitos websites ainda na sua infância. Várias versões têm evoluído ao longo dos anos, por vezes por acidente, por vezes propositadamente (como no caso do humor).
					</p>
					<figure class="figuracolunas">
						<img src="img/twop.jpg" alt="Viagens pelo mundo">
					</figure><br>
				</div>
			</section>
			<footer class="rodape">
				<!---Contato Aqui-->
				<address>
					Nikolaspoi055@gmail.com
				</address>
			</footer>
		</div>
	</body>
</html>